{{#if freewall}}
	<div class="freewall couponlist" id="{{id}}">
		{{#each coupons}}
			<div class="brick coupon {{{couponClassName name}}}">
				<img src="{{imageURL}}" width="100%">
				<div class="info">
					<h4>
						{{name}}
						<a class="pull-right addCoupon"><span class="glyphicon glyphicon-plus"></span></a>
					</h4>
					<h5>{{description}}</h5>
					{{store}}<br>
					<em>Exp:</em> {{expiration}}

				</div>
			</div>
		{{/each}}
	</div>
{{else}}
	<ul class="media-list couponlist">
		{{#each coupons}}
			<li class="media coupon {{{couponClassName name}}}">
				<a class="pull-left disable">
					<img class="media-object couponThumbnail" src="{{imageURL}}" alt="...">
				</a>
				<div class="media-body">
					<h4 class="media-heading">
						{{name}}
						<a class="pull-right addCoupon"><span class="glyphicon glyphicon-plus"></span></a>
					</h4>
					{{description}}<br>
					{{store}}<br>
					<em>Exp:</em> {{expiration}}
				</div>
			</li>
		{{/each}}
	</ul>
{{/if}}