<ul class="media-list couponlist">
	{{#each coupons}}
		<li class="media {{{couponClassName name}}}">
			<a class="pull-left disable">
				<img class="media-object couponThumbnail" src="{{imageURL}}" alt="...">
			</a>
			<div class="media-body">
				<h4 class="media-heading">
					{{name}}
					<a class="pull-right addCoupon"><span class="glyphicon glyphicon-plus"></span></a>
				</h4>
				{{description}}<br>
				{{store}}<br>
				<em>Exp:</em> {{expiration}}
			</div>
		</li>
	{{/each}}
</ul>
